.TodoItem{
    background-color: #25273C;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 10px;
    border: solid 2px;
}

.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #25273C;
    color: #FFFF;
    

}

.TodoItem-p--complete{
    text-decoration: line-through;
    color: #AD02FE ;
}

.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-check{
    position: absolute;
    left: 12px;
    border-radius: 50%;
    
   
}

.Icon-check--active{
    color:#4caf50;
    background: radial-gradient(circle, rgba(230,0,250,1) 6%, rgba(82,97,234,1) 96%);
}
.Icon-check:hover {
    color: red;
  }

.Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(63,94,251,1) 5%, rgba(135,97,105,1) 71%);
  }
  
.Icon-delete:hover {
    color: red;
  }

