.CreateTodoButton{
    background-color: #AD02FE;
    box-shadow: 0px 5px rgba(92, 206, 238, 0.5);
    border: none;
    border-radius: 50%;
    font-size: 40px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    transform: rotate(0);
    transition: .1s ease;
    z-index: 1;
    
    
}

.CreateTodoButton:hover{

    transform: rotate(224deg);

}